certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
pillow==11.2.1
python-dotenv==1.1.0
python-xlib==0.33
redis==6.1.0
requests==2.32.3
screeninfo==0.8.1
six==1.17.0
spotipy==2.25.1
urllib3==2.4.0
